* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: sticky;
    top: 0px;
    background-color: #f8f8f8;
}

.nav-container {
    width: 80%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;

}


.navbar {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;

}

.nav {
    display: flex;
    list-style: none;
    padding: 45px 0px;
}

.navitems {
    padding: 0px 15px;
    font-weight: bold;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.navitems:hover {
    color: #3a56a1;

}




.dropdown{
    padding: 0px 15px;
}

.dropdown-btn{
 border: none;
  outline: none;
  background-color: inherit;
  font-weight: bold;
  font-size: 17px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-btn:hover{
    color: #3a56a1;
}

.dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: white;
    background-color: #3a56a1;
}

.dropdown:hover .dropdown-content {
    display: block;
}





#joinourpanel {
    padding: 3px 5px;
    font-size: 12px;
    background-color: green;
    border: 0px solid black;
    border-radius: 2px;
    color: white;
}

#joinourpanel:hover {
    background-color: darkgreen;
}


/* 2nd part */



.Qualitativeresearch{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.Qualitativeresearch-container{
    display: flex;
}


.Qualitativeresearch-box {
    padding: 0px 20px;
}


#Qualitativeresearch-heading {
    background-color: #3a56a1;
    border-radius: 8px;
    border: 2px solid black;
    /* margin-top: 40px; */
    font-size: 20px;
    /* font-weight: ; */
    padding: 5px 90px;
    color: white;
}


#Qualitativeresearch-content {
    text-align: justify;
    font-size: 17px;
    margin-top: 20px;
}

#getintouch{
    background-color: green;
    font-size: 12px;
    border: 0px solid black;
    border-radius: 4px;
    padding: 10px 15px ;
    color: white;
    margin-top: 10px;
}

#getintouch:hover{
    background-color: darkgreen;
}



/* 3rd part */



.qualitativeresearchbenefit{  
    background-color: #3a56a1;
    width: 100%;
    height: 250px;
    margin-top: 30px;
}

.qualitativeresearchbenefit-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#qualitativeresearchbenefit-heading{
    font-size: 25px;
    font-weight: bold;
    color: white;
    /* margin-top: 90px; */
    padding: 30px 20px;
}

#qualitativeresearchbenefit-content{
    color: white;
    font-size: 18px;
}



/* 4th part */




.essentialofqualityresearch{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
    height: 1330px;
}


.essentialofqualityresearch-container{
    /* margin-top: 20px; */
    padding: 20px 20px;
}

#essential-heading{
    font-size: 30px;
    text-align: center;
    color: #3a56a1;
}

#essential-para{
    margin-top: 10px;
}



.essential-container1{
    display: flex; 
    height: 230px;
}

.interview{
    padding: 10px 20px;
    width: 266%;
}

#interview-heading {
    background-color: #3a56a1;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
    color: white;
}

#interview-para{
    font-size: 17px;
    text-align: justify;
    padding: 15px 0px;
}

.product-container{
    padding: 10px 20px;

}

#productplacement-heading{
    background-color: #3a56a1;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
    color: white;
}

#productplacement-para{
    font-size: 17px;
    text-align: justify;
    padding: 15px 0px;
}




.essential-container2{
    display: flex; 
    height: 230px;
}

.focusgroup{
    padding: 10px 20px;
    width: 250%;
}

#focusgroup-heading {
    background-color: #3a56a1;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
    color: white;
}

#focusgroup-para{
    font-size: 17px;
    text-align: justify;
    padding: 15px 0px;
}

.usabilitytesting-container{
    padding: 10px 20px;

}

#usabilitytesting-heading{
    background-color: #3a56a1;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
    color: white;
}

#usabilitytesting-para{
    font-size: 17px;
    text-align: justify;
    padding: 15px 0px;
}





.essential-container3{
    display: flex; 
    height: 360px;
}

.shadowshopping{
    padding: 10px 20px;
    width: 242%;
}

#shadowshopping-heading {
    background-color: #3a56a1;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
    color: white;
}

#shadowshopping-para{
    font-size: 17px;
    text-align: justify;
    padding: 15px 0px;
}

.onlinebulletinboard-container{
    padding: 10px 20px;

}

#onlinebulletinboard-heading{
    background-color: #3a56a1;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
    color: white;
}

#onlinebulletinboard-para{
    font-size: 17px;
    text-align: justify;
    padding: 15px 0px;
}




.essential-container4{
    display: flex; 
    height: 370px;
}

.consumerconnect{
    padding: 10px 20px;
    width: 248%;
}

#consumerconnect-heading {
    background-color: #3a56a1;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
    color: white;
}

#consumerconnect-para{
    font-size: 17px;
    text-align: justify;
    padding: 15px 0px;
}

.ethnographicresearch-container{
    padding: 10px 20px;

}

#ethnographicresearch-heading{
    background-color: #3a56a1;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
    color: white;
}

#ethnographicresearch-para{
    font-size: 17px;
    text-align: justify;
    padding: 15px 0px;
}




/* 5th part */




.whychoose{  
    background-color: #3a56a1;
    width: 100%;
    height: 250px;
    margin-top: 30px;
}

.whychoose-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#whychoose-heading{
    font-size: 25px;
    font-weight: bold;
    color: white;
    /* margin-top: 90px; */
    padding: 30px 20px;
}

#whychoose-content{
    color: white;
    font-size: 18px;
}

#tellushowcanwehelpyou{
    margin-top: 25px;
    background-color: green;
    padding: 8px 15px;
    color: white;
    /* opacity: 0.5; */
    font-size: 16px;
    border-radius: 3px;
    border: 0px solid black;
}

#tellushowcanwehelpyou:hover{
background-color: darkgreen;
}



/* 6th part */




.joinourpanel {
    width: 80%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 60px;
 height: 170px;

 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.joinourpanel-container {
 display: flex;

}

.joinourpanel-img {
 width: 290px;
 height: 150px;
 padding: 10px 10px;
}

.service-container {
 width: 270px;
 height: 150px;
 padding: 10px 70px;
}

.service {
 list-style: none;
 color: #f20c78;
 line-height: 25px;
}

.address-container {
 width: 250px;
 height: 150px;
 padding: 10px 10px;
}

.address {
 list-style: none;
 color: #f20c78;
 line-height: 20PX;

}

.contact-container {
 width: 270px;
 height: 170px;
 padding: 10px 30px;
 /* margin-left: 90px; */
}

.contact {
 list-style: none;
 color: #f20c78;
 line-height: 25px;
}

b {
 font-size: 20px;
 color: black;
 text-decoration: underline;
 /* padding: 20px 10px; */
}

.fonts{
 display: flex;
 width: 200px;
 margin-top: 15px;
}


/* last part */



.bottombar {
 background-color: black;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
 height: 60px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.footerpara {
 color: white;
 font-size: 15px;
 padding: 20px 20px;
 /* margin-left: 80px; */
 /* text-align: center; */
 /* justify-content: right; */
}

.footpara-a {
 color: white;
 text-decoration: none;
}

.footpara-a:hover {
 text-decoration: underline;
}


